{% load staticfiles %}

<html>
<head>
    <title>REDDIT BUZZWORDS</title>
    <script type="text/javascript"
            src="{% static 'jquery-2.1.0.min.js' %}"
    ></script>
    <script> 
        $(document).ready(function() {
            var scores = [{% for word, score in scores %}['{{word}}',{{score}}],{% endfor %}[]];
            scores.forEach(function(score) {
                if (score[0]) {
                    $("#graph").append("<div>"+ (scores.indexOf(score)+1)+'. '+score[0]+"</div><hr style='background-color:black;width:"+600*score[1]/scores[0][1]+"px;float:left;'></hr>"+score[1]+"<br/>");
                }
            });
        });
    </script>
    <link rel="stylesheet" href="{% static 'buzzwords.css' %}"/>
</head>

<body>
<div id="header">
<h1>Reddit Buzzwords</h1>
<div id="subheader">Provides the most common words from the most popular reddit posts of each day.</div>
</div>
<div id="graph"></div>
<div id="footer">Created by <a href='http://nobr.me/'>nobr</a></div>
</body>
</html>
    
